@model BusinessLayer.Employee
@using System.Web.Mvc

@{
    ViewBag.Title = "Edit";
}

<div style="font-family: Arial; width: 400px">

    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset style="background-color: #FAFAFA">
            <legend>Employee</legend>

            <div style="padding-bottom: 5px">
                @Html.LabelFor(model => model.ID)
            </div>
            <div style="padding-bottom: 10px">
                @Html.EditorFor(model => model.ID)
                @Html.ValidationMessageFor(model => model.ID)
            </div>

            <div style="padding-bottom: 5px">
                @Html.LabelFor(model => model.Name)
            </div>
            <div style="padding-bottom: 10px">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div style="padding-bottom: 5px">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div style="padding-bottom: 10px">
                @Html.DropDownList("Gender", new List<SelectListItem> {
                    new SelectListItem { Text="Male", Value="Male"},
                    new SelectListItem { Text="Female", Value="Female"}
                }, "Select Gender")
                @Html.ValidationMessageFor(model => model.Gender)
            </div>

            <div style="padding-bottom: 5px">
                @Html.LabelFor(model => model.City)
            </div>
            <div style="padding-bottom: 10px">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>

            <div style="padding-bottom: 5px">
                @Html.LabelFor(model => model.DateOfBirth)
            </div>
            <div style="padding-bottom: 10px">
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>

            <p>
                <input type="submit" name="submit" value="Save" />
            </p>

        </fieldset>
    }
    <div>
        @Html.ActionLink("Back To List", "Index")
    </div>

</div>